<div class="row">
<div class="span8">
<ul class="pager">
{{#if prevNews }}
  <li class="previous">
    <a href="/news/{{prevNews.[0].docid}}">&larr; {{prevNews.[0].title}}</a>
  </li>
{{/if}}
{{#if nextNews }}
  <li class="next">
    <a href="/news/{{nextNews.[0].docid}}">{{nextNews.[0].title}} &rarr;</a>
  </li>
{{/if}}
</ul>
</div>
</div>