
<template name="about">
{{#constant}}
<div class="well well-small">
  <h3>17轻松</h3>
  <p>让你每日轻松一刻！</p>
  <p>推荐使用Google浏览器以获得更好的视觉体验.</p>
  <hr>
  <h5>资助鼓励 / Donation</h5>
  <p>如果你认为我做的这些对你来说是有价值的, 并鼓励我进行更多开源和免费的开发. 那你可以资助我...<br>
If you find my work useful and you want to encourage the development of more free resources, you can do it by donating...</p>

<a href="https://me.alipay.com/czchen" title="通过支付宝资助" target="_blank">
    <img src="/img/donate-with-alipay.png" alt="通过支付宝资助">
</a>
</div>
{{/constant}}
</template>