

<div class="well well-small">
  <h4>关于{{settings.siteName}}</h4>
  <p>独乐乐不如众乐乐，17轻松，让您每日轻松一刻！</p>
  <p>本站在IE下体验不是很好，强烈推荐使用Google浏览器以获得更好的视觉体验.</p>
  <p>本站采用Node.js+MongoDB打造，另外所有文章均来自网易，文章版权归网易所有，感谢网易！</p>
  <p>如有任何建议或疑问，都欢迎电邮至：</p>
  <p><img alt="mail" src="/img/mail.png"></p>
  <hr>
  <h5>资助鼓励</h5>
  <p>本站目前放在美国的免费空间上，国内访问速度较慢，如果大家资助，将全部用来升级网站空间和优化速度，谢谢。。。</p>

<a href="https://me.alipay.com/czchen" title="通过支付宝资助" target="_blank">
    <img src="/img/donate-with-alipay.png" alt="通过支付宝资助">
</a>
<hr>
<h5>更新日志：</h5>
<p><small>2012年12月26日，上线提供txt下载功能。</small></p>
<p><small>2012年12月25日（圣诞），17轻松微信公众平台自动客服助手正式上线。</small></p>
<p><small>2012年12月22日，17轻松注册微信公众平台，微信号：m17qingsong。</small></p>
<p><small>2012年12月21日（冬至以及传说中的芥末日），订阅功能上线，并利用<a target="_blank" title="Bsie" href="http://ddouble.github.com/bsie/">Bsie</a>改善对IE6的兼容。</small></p>
<p><small>2012年11月25日，17轻松正式上线。</small></p>
</div>