
<div class="row">
<div class="alert alert-success span5">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <a href="/weixin" title="weixin">17轻松微信公众平台可以查询深圳通余额了，点击查看用法。</a>
</div>
</div>

<div class="row">
<div class="alert alert-success span5">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <a target="_blank" href="http://www.oschina.net/cf-app-show" title="投票">
        17轻松正在参加应用大赛，请大家帮忙投下票，谢谢。<strong>点击去投票。</strong></a>
</div>
<div class="alert alert-success span4">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <a href="/rss" title="RSS" target="_blank">17轻松可以订阅啦，欢迎大家订阅。<img src="/img/rss.png" alt="rss"></a>
</div>
</div>

{{> hotnews}}

{{> newslist}}

{{> pager}}

{{> duoshuo}}


