
<div class="row">
<div class="alert alert-error span4">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <a target="_blank" href="http://www.oschina.net/cf-app-show" title="投票">
       请大家帮忙投“17轻松”一票，谢谢。<strong>点击去投票</strong></a>
</div>

<div class="alert alert-success span5">
    <button type="button" class="close" data-dismiss="alert">×</button>
    谢谢大家支持，源码将会在过年回来开源，敬请期待。
</div>
</div>
<div class="row">
<div class="alert alert-success span4">
    <button type="button" class="close" data-dismiss="alert">×</button>
    版权问题，大家懂的~~
</div>
</div>

<!-- {{> hotnews}} -->

{{> newslist}}

{{> pager}}

{{> duoshuo}}


