
<div class="row">
<div class="alert alert-success span5">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <a href="/weixin" title="weixin">17轻松微信公众平台正式启动，点击查看骚扰规则。</a>
</div>
<div class="alert alert-success span4">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <a href="/rss" title="RSS" target="_blank">17轻松可以订阅啦，欢迎大家订阅。<img src="/img/rss.png" alt="rss"></a>
</div>
</div>

{{> hotnews}}

{{> newslist}}

{{> pager}}

{{> duoshuo}}


