

<div class="alert alert-error">
    【免责声明:本文均来自互联网收集而来，版权归原创者所有，如果侵犯了你的权益，请通知我们，我们会及时删除侵权内容，谢谢合作】
</div>


<div class="row">
<div class="alert alert-error span4">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <a target="_blank" href="http://www.oschina.net/cf-app-show" title="投票">
       请大家帮忙投“17轻松”一票，谢谢。<strong>点击去投票</strong></a>
</div>

<div class="alert alert-success span5">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <a target="_blank" href="https://github.com/xieren58/17qingsong" title="投票">
       已经开源。<strong>点击查看源码</strong></a>
</div>
</div>

<!-- {{> hotnews}} -->

{{> newslist}}

{{> pager}}

{{> duoshuo}}


