

<div class="well well-small">
  <h4>{{settings.siteName}}微信公众平台</h4>
  <p>微信号：m17qingsong</p>
  <p>查询规则：<br>
    &nbsp;&nbsp;今日之声：zs <br>
    &nbsp;&nbsp;每日轻松一刻：qs <br>
    &nbsp;&nbsp;娱乐BigBang：yl <br>
    &nbsp;&nbsp;科技万有瘾力：kj <br>
    &nbsp;&nbsp;易百科：bk <br>
    &nbsp;&nbsp;侃军事：js <br>
    &nbsp;&nbsp;查询深圳通余额：szt深圳通卡号 <br>
    &nbsp;&nbsp;规则帮助：? <br>
    &nbsp;&nbsp;例如：发送 qs 即可获得最新的一期【每日轻松一刻】，<br>
    &nbsp;&nbsp;发送 qs20120920 即可获得2012年9月20日的【每日轻松一刻】. <br>
    &nbsp;&nbsp;发送 szt深圳通卡号 即可获得你的深圳通余额（ 将深圳通卡号换成你的卡号）.<br>
    欢迎大家前来骚扰。
  </p>
  <br>
  <p>微信扫描，+ 17轻松，即可骚扰：&nbsp;<img alt="QRCode" src="/img/qrcode_258.png"></p>

</div>